{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/base.css' %}">
  <style>
    {% block styling %}
    {% endblock styling %}
  </style>
  <title>{% block title %}Welcome{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
      {% if user.is_authenticated %}
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; ATG</span>
      {% else %}
      <a class="navbar-brand" href="{% url 'homepage' %}">ATG</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav order-lg-2">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              {% if not user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'login' %}">Log in</a>
              {% else %}
              <a class="dropdown-item" href="{% url 'homepage' %}">Profile</a>
              <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              {% endif %}
            </div>
          </li>
        </ul>
        <form class="navbar-form col-lg-4 mx-lg-auto order-lg-first mb-0" id="search" role="search">
          <div class="form-group mb-0">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <!-- <button type="submit" class="btn btn-default">Submit</button> -->
        </form>

      </div>
    </div>
  </nav>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url 'Leave' %}">Leave</a>
    <a href="{% url 'Heirarchy' %}">Heirarchy</a>
    <a href="{% url 'Payroll' %}">Payroll</a>
    <a href="{% url 'Documentation' %}">Documentation</a>
    <a href="{% url 'Onboard' %}">Onboard/Send offer</a>
    <a href="{% url 'Track' %}">Track my reportees</a>
  </div>

  <div class="container">

    {% block content %}
    {% endblock %}
  </div>


  <script>
  {% block js %}
  {% endblock js %}
  </script>
  <script src="{% static 'mainapp/js/base.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
