{% extends "mainapp/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Register
{% endblock %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  	


  </style>
</head>
<body>
<div class="container mt-3">
 
  
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#home">Create</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#menu1">Delete</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#menu2">Issues</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content mb-3">
    <div id="home" class="container tab-pane active"><br>
     <form method='POST' action='Create/'>
     	{% csrf_token %}
     	<input type='text' name='username' placeholder="USERNAME" required><br>
     	<input type='password' name='password' placeholder="PASSWORD" required><br>
     	<input type='text' name='fullname' placeholder="FULL NAME" required><br>
     	<input type='email' name='email' placeholder="EMAIL" required><br>
     	
     	<input type='checkbox' name='enabled' value="ENABLED" >TRUE<br>
     	<input type='checkbox' name='protected' value="PROTECTED" >Protected<br>
     	<input type='submit' name='submit'>
     	

     </form>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
     <form method='POST' action='delete/'>
     	{% csrf_token %}
     	<input type='text' name='username' placeholder="USERNAME" required><br>
     	<input type='submit' name='submit'>
     </form>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
 

<script>
$(document).ready(function(){
  $(".nav-tabs a").click(function(){
    $(this).tab('show');
  });
  $('.nav-tabs a').on('shown.bs.tab', function(event){
    var x = $(event.target).text();         // active tab
    var y = $(event.relatedTarget).text();  // previous tab
    $(".act span").text(x);
    $(".prev span").text(y);
  });
});
</script>


</body>
</html>
{% endblock %}